/* Based on the work of Chris Rickels (https://codepen.io/cRckls/pen/DJvZXo), but quite modified by me */

.crt {
  overflow: hidden;
  position: relative;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 999;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        rgba(255,255,255,0) 50%,
        rgba(0,0,0,0.2) 70%,
        rgba(0,0,0,0.6)
    );
    z-index: 5;
    background-size: 100% 3px, 4px 100%;
    pointer-events: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flicker {
  0% {opacity: 0.27861;}
  5% {opacity: 0.34769;}
  10% {opacity: 0.23604;}
  15% {opacity: 0.90626;}
  20% {opacity: 0.18128;}
  25% {opacity: 0.83891;}
  30% {opacity: 0.65583;}
  35% {opacity: 0.67807;}
  40% {opacity: 0.26559;}
  45% {opacity: 0.84693;}
  50% {opacity: 0.96019;}
  55% {opacity: 0.08594;}
  60% {opacity: 0.20313;}
  65% {opacity: 0.71988;}
  70% {opacity: 0.53455;}
  75% {opacity: 0.37288;}
  80% {opacity: 0.71428;}
  85% {opacity: 0.70419;}
  90% {opacity: 0.7003;}
  95% {opacity: 0.36108;}
  100% {opacity: 0.24387;}
}

@keyframes flickersmall {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes jerk {
  50% {
    transform: translateX(1px);
  }
  51% {
    transform: translateX(0);
  }
}

@keyframes jerkup {
  50% {
    transform: translateY(1px);
  }
  51% {
    transform: translateY(0);
  }
}

@keyframes jerkblue {
  0%,
  30% {
    transform: translateX(0);
  }
  31% {
    transform: translateX(5px);
  }
  32%,
  98% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}

@keyframes jerkgreen {
  0%,
  30% {
    transform: translateX(0);
  }
  31% {
    transform: translateX(-5px);
  }
  32%,
  98% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5px);
  }
}

@keyframes jerkwhole {
  30% {
  }
  40% {
    opacity: 1;
    top: 0;
    left: 0;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    top: 0px;
    left: -100px;
    transform: scale(1, 1.2);
    transform: skew(50deg, 0);
  }
  42% {
    opacity: 0.8;
    top: 0px;
    left: 100px;
    transform: scale(1, 1.2);
    transform: skew(-80deg, 0);
  }
  43% {
    opacity: 1;
    top: 0;
    left: 0;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
  65% {
  }
}
